@import "../colors";

@mixin tag($color: "grey") {
  @if ($color == "grey") {
    background-color: $light-grey-200;
    color: $grey-600;
  }

  @if ($color == "pink") {
    background-color: $pink-100;
    color: $pink-600;
  }

  height: 25px;
  padding: 4px 8px;
  border-radius: 15%;
  text-align: center;
  font-size: 14px;
  button {
    margin-left: 4px;
    cursor: pointer;
  }
}

.tag_grey {
  @include tag("grey");
}

.tag_pink {
  @include tag("pink");
}
