@import "../../colors";

.info {
  @import "./bootcamp-h2.module";
}

.card {
  border: 1px solid $grey-100;
  border-radius: 7px;
}

.title {
  cursor: pointer;
  height: 60px;
  padding: 16px 16px 20px 24px;
  gap: 12px;
  background-color: $light-grey-100;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $grey-100;
  border-bottom: 1px solid $grey-100;

  h3 {
    font-size: 17px;
    font-weight: 600;
    line-height: 23.8px;
  }
}

.description {
  @import "../../markdown";

  padding: 16px 24px 16px 24px;
}

.description_disabled {
  display: none;
}
