$white: rgba(255, 255, 255, 1);

$grey-100: rgba(231, 234, 238, 1);
$grey-400: rgba(140, 155, 176, 1);
$grey-500: rgba(110, 128, 155, 1);
$grey-600: #58677f;
$grey-800: rgba(46, 54, 66, 1);
$grey-900: #212730;

$light-grey-100: rgba(249, 250, 251, 1);
$light-grey-200: rgba(243, 244, 247, 1);

$red-300: rgba(255, 178, 183, 1);

$pink-100: #ffe5eb;
$pink-600: #ff4f79;
