@import "../../colors";

.title {
  font-size: 17px;
  font-weight: 600;
  line-height: 25.5px;
  color: $grey-800;
}

.description {
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: $grey-600;
}
